header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    position: relative;
    height: 20%;
}

header figure {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

header img {
    width: 250px;
}

header nav {
    width: 30%;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

.title-links {
    display: inline-block;
    font-size: 22px;
    padding: 10px 0 0 20px;
}

.title-links a {
    color: black;
}

.title-links:hover {
    text-decoration: underline;
    font-size: 24px;
}

.links:visited {
    color: black;
}

body {
    background: rgb(240, 234, 214);
    color: black;
    font-family: arial;
    margin: 0;
    padding: 0;
    width: 100%;
}

.home {
    background: rgb(240, 234, 214);
    border-radius: 50px;
    color:black;
    width: 90%;
    max-width: 1000px;
    font-size: 24px;
    margin: 20px auto;
    text-align: center;
    vertical-align: top;
}

.home figcaption {
    font-size: 14px;
}

.home a {
    color: rgb(0, 119, 181);
}

.home a:hover {
    text-decoration: underline;
    font-size: 26px;
}

.home div {
    padding: 1%;
}

.intro {
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
}

.port {
    background: rgb(240, 234, 214);
    color: black;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.port figcaption {
    font-size: 14px;
}

img {
    width: 100%;
    max-width: 800px;
    border-radius: 25px;
}

.detail1 {
    font-size: 30px;
    font-weight: bold;
}

.detail2 {
    font-size: 26px;
}

.padded_detail2 {
    font-size: 26px;
    padding: 10px 0 0 0;
}

.detail3 {
    font-size: 20px;
    text-align: left;
}

.detail3-list {
    display: list-item;
    list-style-type: disc
}

.detail3-list li {
    padding: 5px;
}

.detail4 {
    font-size: 20px;
}

footer {
    background: rgb(240, 234, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-contacts img {
    width: 50px;
    padding: 40px;
}

.foot-contacts img:hover {
    width: 60px;
    padding: 40px;
}

p {
    tab-size: 4;
}

a {
    text-decoration: none;
    color: rgb(240, 234, 214);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    color: rgb(240, 234, 214);
    border-radius: 10px;
    background-color: black;
    font-size: 20px;
}

button:hover {
    font-size: 24px;
    text-decoration: underline;
}

summary {
    font-weight: bold;
  }
