header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a9df4;
    padding: 0 40px;
    color: black;
}

.title {
    text-align: left;
    width: 35%;
    min-width: 140px;
    font-weight: normal;
}

.logo h1 {
    text-align: center;
    font-weight: bold;
}

nav {
    width: 35%;
    text-align: right;   
}

body {
    background: white;
    color: black;
    font-family: arial;
    margin: 0;
    padding: 0;
    width: 100%;
}

.home {
    background: white;
    border-radius: 50px;
    color:black;
    width: 90%;
    max-width: 1000px;
    font-size: 24px;
    margin: 20px auto;
    text-align: center;
    vertical-align: top;
}

.home figcaption {
    font-size: 14px;
}

.home a {
    color: rgb(0, 119, 181);
}

.home a:hover {
    text-decoration: underline;
    font-size: 26px;
}

.home div {
    padding: 1%;
}

.intro {
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
}

.port {
    background: white;
    color: black;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.port figcaption {
    font-size: 16px;
}

img {
    width: 100%;
    max-width: 800px;
    border-radius: 25px;
}

.detail1 {
    font-size: 30px;
    font-weight: bold;
    padding: 60px 0 0 0;
}

.detail2 {
    font-size: 26px;
}

.detail3 {
    font-size: 20px;
    text-align: left;
}

.detail4 {
    font-size: 20px;
}

footer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-contacts img {
    width: 50px;
    padding: 40px;
}

.foot-contacts img:hover {
    width: 60px;
    padding: 40px;
}

p {
    tab-size: 4;
}

ul {
    list-style-type: none;
}

.title-links {
    display: inline-block;
    position: relative;
}

.title-links:hover {
    background-color: #d0efff;
}

.button-links {
    display: inline-block;
    position: relative;
}

.button-links:hover {
    background-color: #d0efff;
}

ul li a {
    color: black;
    display: block;
    padding: 15px 20px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}

button {
    color: black;
    background-color: #2a9df4;
    display: block;
    padding: 15px 20px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    border: none;
}

button:hover {
    background-color: #d0efff;
}

ul li ul.dropdown {
    position: absolute;
    width: 100%;
    z-index: 999;
    display: none;
    color: black;
    padding: 0;
    margin: 0;
}

ul li ul.dropdown li{
    display: block;
    color: black;
    background-color: #2a9df4;
}

ul li ul.dropdown li:hover{
    background-color: #d0efff;
}

ul li:hover ul.dropdown {
    display: block;
}

summary {
    font-weight: bold;
    font-size: 20px;
}
