a {
    background: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
    width: 100%;
}

.back-to-top {
    display: block;
    opacity: 0;
    padding: 0 20px;
    position: fixed;
    right: 0;
    top: 90%;
    transition: opacity 0.3s ease;
    width: 40px;
}

.back-to-top:hover {
    width: 45px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    width: 80px;
}

button img {
    width: 40px;
}

button img:hover {
    width: 45px;
}

details {
    padding: 0 0 50px 0;
}

.detail1 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0 0 0;
}

.detail2 {
    font-size: 26px;
}

.detail3 {
    font-size: 20px;
}

.dropdown {
    display: none;
    list-style-type: none;
    padding: 0;
    position: absolute;
    z-index: 1000;
}

.dropdown li a:hover {
    background: #c9a0dc;
}

.dropdown-links {
    display: flex;
    justify-content: end;
    position: relative;
}

.dropdown-wrapper {
    display: inline-block;
    position: relative;
}

.dropdown-wrapper:hover {
    outline-style: solid;
    outline-width: 2px;
}

.dropdown-wrapper:hover .dropdown {
    outline-style: solid;
    outline-width: 2px;
}

figcaption {
    font-size: 16px;
}

footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.foot-contacts img {
    padding: 40px 10px;
    width: 40px;
}

.foot-contacts img:hover {
    width: 45px;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.home {
    border-radius: 50px;
    font-size: 24px;
    margin: 20px auto;
    max-width: 1000px;
    text-align: center;
    width: 90%;
}

.home a {
    color: rgb(0, 119, 181);
}

.home a:hover {
    font-size: 26px;
}

.about-link {
    list-style-type: none;
    min-width: 140px;
    padding: 0;
    text-align: left;
    width: 35%;
}

.about-link a:hover {
    outline-style: solid;
    outline-width: 2px;
}

html {
    scroll-behavior: smooth;
}

img {
    border-radius: 25px;
    max-width: 800px;
    width: 100%;
}

.intro {
    font-size: 36px;
    font-weight: bold;
    padding: 20px 0 60px 0;
}

.logo {
    text-align: center;
    width: 30%;
}

.logo:hover {
    font-size: 35px;
}

nav {
    display: inline-block;
    text-align: right;   
    width: 35%;
}

.port {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1000px;
    text-align: center;
    width: 90%;
}

summary {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

ul li a {
    display: block;
    font-size: 22px;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    width: 110px;
}

ul li a:hover {
    background: #c9a0dc;
}
